Flask==1.0.2
Flask-Cors==3.0.6
gensim==3.7.1
nltk==3.3
gunicorn==19.9.0
numpy==1.15.4
numpydoc==0.8.0
pandas==0.23.4
pandocfilters==1.4.2
path.py==11.1.0
pathlib2==2.3.2
py==1.6.0
scipy==1.1.0
google-cloud-storage==1.14.0
google-api-core==1.7.0
google-api-python-client==1.7.7
google-auth==1.6.2
google-auth-httplib2==0.0.3
google-cloud-core==0.29.1
